
.label
{
  font-size: 16px;
  color:rgb(30,30,255 );
}
.invisible
{
  visibility: hidden;
}
tr
{
}
td
{
  font-style: oblique;
  border: solid;
  border-width: 1px;
  border-color: #000;
}
th  
{
  border: solid;
  border-width: 1px;
}
